@page {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  font-weight: 700;
  
}

.header {
  text-align: center;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  border-bottom: 2px solid #000;
}

.header h1,
#name {
  color: rgb(55, 55, 160);
  font-size: 18px;
}

#address {
  height: 80;
}

.header-section {
  width: 40%;
  line-height: 6px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.header-section p {
  margin: 0;
}

.header-image {
  display: flex;
  align-items: center;
}

.patient-info {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 40px;
  background-color: #00000022;
}

.patient-info p {
  margin: 0;
 
}

.vitals,
.inline-item {
  display: flex;
  gap: 8px;
  margin: 6px 0px;
  font-size: 10px;
  width: 100%;
}

.inline-item strong {
  width: fit-content;
}

.vitals div span,
.inline-item p {
  margin: 0;
  word-break: break-word;
}

.medications {
  font-size: 12px;
  margin: 15px 0px;
}

.medications-table {
  width: 100%;
}

.table-head {
  font-weight: bold;
  border-bottom: 1px solid #00000044;
}

.table-row {
  display: grid;
  grid-template-columns: 0.05fr 0.45fr 0.1fr 0.4fr;
}

.table-secondary-row {
  grid-column: span 3;
  font-size: 10px;
}

.medications-item {
  padding: 5px 0px;
  border-bottom: 1px solid #00000044;
}

.italic {
  font-style: italic;
}
.avoid-page-break {
  page-break-inside: avoid;
  break-inside: avoid;
}
